<configuration>

<!--    <property name="NODE_ID" value="sn-00"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="mx.cinvestav.log.MySampleLayout" >
                <nodeId>${NODE_ID}</nodeId>
            </layout>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- use the previously created timestamp to create a uniquely
             named log file -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${NODE_ID}-${bySecond}.txt</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="mx.cinvestav.log.MySampleLayout" >
                <nodeId>${NODE_ID}</nodeId>
            </layout>
        </encoder>
    </appender>
    <logger name="mx.cinvestav.Main">
        <appender-ref ref="FILE" />
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE" />-->
    </root>

</configuration>